name: Python Tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    name: Run python tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v2
      - uses: ../.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run pytest
        run: |
          uv run pytest

      - name: Run mypy
        run: |
          uv run mypy

      - name: Run ruff
        run: |
          uv run ruff check src/
